{% extends "registration/registration_headers.html" %}
{% block content %}
    <h1 class="m-5">Nueva contraseña</h1>
    <div class="container" style="width:25rem;">
        {% if validlink %}
            <p>Ingresa tu nueva contraseña</p>
            <form action="" method="post">
            {% csrf_token %}
                <div class="mb-3">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1" class="form-label" >Nueva contraseña:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="mb-3">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2" class="form-label" >Confirmar contraseña:</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">Cambiar contraseña</button>
            </form>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <strong>Password reset failed</strong>  The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
{% endblock %}