{% extends "registration/registration_headers.html" %}
{% block content %}
{% load static %}
<h1 class="m-5">Recuperación de contraseña</h1>
<div class="container login-box" style="width:25rem;">
  <h2 class="m-5">Recuperación de contraseña</h2>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <label for="exampleInputPassword1" class="form-label" >Ingresa tu correo electrónico</label>
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-warning mb-3" value="Resetear contraseña">
  </form>
  <img src="{% static '/images/logoblanco.png'  %}" alt="Logo" class="img-fluid logo-auth">
</div>
{% endblock %}
