@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

$primary: #06969D;
$secondary: #01295F;
$success: #6EB257;
$info: #CF1259;
$warning: #ffc107;
$danger: #DD1C1A;
$light: #EDE6E3;
$dark: #1C1C1C;
$font-family-sans-serif: 'Raleway', sans-serif;

.btn-primary {
  color: #fff !important;
}
.btn-outline-primary.active {
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Passion One', sans-serif;
  font-weight: 400;
}
//$font-family-sans-serif: 'Lora', sans-serif;

  


/* COLORS */
/* primary: #06969D */
/* call to action: #F06449 */
/* fondo, light: #EDE6E3 */
/* no tan light, fondo nav? o al reves con el de arriba: #DADAD9 */
/* azul fuerte: #01295F */
/* morado fuerte: #210124 */
/* DARK: #1C1C1C */


