{% extends "headers_error.html" %}

{% load static %}

{% block content %}

  <img src="{% static 'images/errorcau.png' %}" class="img-fluid mb-5 mt-5" style="max-height: 250px;"/>
  <h1 class="mt-3">Error 404</h1>
  <p style="width: 25rem; margin:auto;">
    Es mi deber informarte que, aunque tal vez alguien te transmitió cierta información, no se encontró ninguna página con ese nombre. Esto ocurre por varias razones, pero por motivos de espacio no puedo ser específico en ellas así que quédate con que <b> esta pagina no existe.</b> 
  </p>
  <a class="btn btn-info" href="{% url 'index' %}" data-toggle="tooltip" data-placement="top" title="Volver al Inicio"><i class="bi bi-house-fill"></i> Volver al Inicio</a>
{% endblock %}
